.howLongAre {
  margin: 0;
  width: 350px;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 8;
}
.projectDurationList {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-190xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  align-self: stretch;
  height: 112px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.shortFAQ {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.howDoesThe,
.shortFAQ,
.vectorIcon {
  position: relative;
  z-index: 9;
}
.howDoesThe {
  margin: 0;
  width: 312px;
  font-size: inherit;
  line-height: 24px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.vectorIcon {
  width: 26.1px;
  height: 15.6px;
}
.projectDurationList2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.howDoesThePaymentWorksParent,
.projectDurationList1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.howDoesThePaymentWorksParent {
  width: 710.1px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.projectDurationList1 {
  width: 891px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.projectDurationListChild {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 9;
}
.projectDurationList3,
.rectangleParent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.projectDurationList3 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.rectangleParent {
  background-color: var(--color-gainsboro-100);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-24xl-5);
  z-index: 8;
  color: var(--color-gray-300);
}
.howMuchCan {
  margin: 0;
  width: 220px;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 8;
}
.projectDurationList4,
.projectDurationListParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-60xl);
}
.projectDurationListParent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-24xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-900);
  font-family: var(--font-switzer);
}
@media screen and (max-width: 800px) {
  .projectDurationList {
    padding-left: var(--padding-85xl);
    box-sizing: border-box;
  }
  .projectDurationListParent,
  .rectangleParent {
    gap: var(--gap-3xl);
  }
}
@media screen and (max-width: 450px) {
  .howLongAre {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .projectDurationList {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .howDoesThe,
  .howMuchCan {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
  .projectDurationList4 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
