.frameChild {
  align-self: stretch;
  height: 112px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.frameItem {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameItem,
.howDoesThe,
.vectorIcon {
  position: relative;
  z-index: 2;
}
.howDoesThe {
  margin: 0;
  width: 312px;
  font-size: inherit;
  line-height: 24px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.vectorIcon {
  width: 26.1px;
  height: 15.6px;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.frameContainer,
.howDoesThePaymentWorksParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.howDoesThePaymentWorksParent {
  width: 710.1px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContainer {
  width: 891px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameInner {
  width: 1440px;
  position: relative;
  max-height: 100%;
  max-width: 180%;
  flex-shrink: 0;
  z-index: 2;
}
.vectorContainer {
  width: 802px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frameWrapper,
.rectangleParent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleParent {
  width: 1431px;
  background-color: var(--color-gainsboro-100);
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-24xl-5);
  z-index: 1;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-300);
  font-family: var(--font-switzer);
}
@media screen and (max-width: 800px) {
  .rectangleParent {
    gap: var(--gap-3xl);
  }
}
@media screen and (max-width: 450px) {
  .howDoesThe {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
}
