.frameChild {
  align-self: stretch;
  width: 230px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
}
.general {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 81px;
  z-index: 2;
}
.generalWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) 0 0;
}
.frameItem {
  height: 112px;
  width: 0;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.rectangleParent {
  margin-left: -296px;
  width: 230px;
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-51xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  flex-shrink: 0;
  z-index: 1;
}
.joiningProcess {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.joiningProcessWrapper {
  width: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) 0 0;
  box-sizing: border-box;
}
.frameInner {
  height: 112px;
  width: 0;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.frameContainer {
  width: 278px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-26xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  flex-shrink: 0;
}
.iWantTo {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.frameGroup,
.iWantToWorkPartTimeIsTWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.iWantToWorkPartTimeIsTWrapper {
  width: 390px;
  flex-direction: column;
  padding: var(--padding-25xl) 0 0;
  flex-shrink: 0;
  color: var(--color-gray-900);
}
.frameGroup {
  position: absolute;
  top: 0;
  left: 10px;
  width: 1020px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-267xl);
  gap: var(--gap-47xl);
}
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1px;
  z-index: 3;
}
.frameParent {
  align-self: stretch;
  height: 112px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-300);
  font-family: var(--font-switzer);
}
@media screen and (max-width: 1325px) {
  .frameGroup {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frameParent {
    height: auto;
    min-height: 112;
  }
}
@media screen and (max-width: 450px) {
  .general,
  .iWantTo,
  .joiningProcess {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
}
