.general {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 81px;
  z-index: 1;
}
.generalWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) 0 0;
}
.frameChild {
  height: 112px;
  width: 0;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.frameDiv {
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-60xl);
}
.iWantTo {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.iWantToWorkPartTimeIsTWrapper {
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-gray-900);
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContainer {
  width: 1098px;
  justify-content: flex-start;
  padding: 0 var(--padding-50xl);
  box-sizing: border-box;
}
.frameItem {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-300);
  font-family: var(--font-switzer);
}
@media screen and (max-width: 1125px) {
  .frameContainer {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .general,
  .iWantTo {
    font-size: var(--font-size-lg);
    line-height: 19px;
  }
}
