.logoIcon {
  width: 112px;
  height: 27.4px;
  position: relative;
}
.logoWrapper {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.findWork {
  min-width: 66px;
  white-space: nowrap;
}
.aboutUs,
.articles,
.contactUs,
.findTalent,
.findWork {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
}
.findTalent {
  min-width: 70px;
  white-space: nowrap;
}
.aboutUs,
.articles,
.contactUs {
  min-width: 50px;
}
.aboutUs,
.contactUs {
  min-width: 58px;
  white-space: nowrap;
}
.contactUs {
  min-width: 71px;
}
.findWorkParent,
.frameWrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.findWorkParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-switzer);
}
.frameWrapper {
  width: 437px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.logIn {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  min-width: 39px;
  white-space: nowrap;
}
.logInWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.frameChild {
  height: 43px;
  flex: 1;
}
.frameGroup,
.frameParent,
.homepageInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameGroup {
  width: 161px;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frameParent,
.homepageInner {
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-mini);
  background-color: var(--color-darkslateblue-100);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-4xs) var(--padding-5xs)
    var(--padding-6xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-switzer);
}
.homepageInner {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-51xl) var(--padding-125xl);
}
@media screen and (max-width: 800px) {
  .frameWrapper {
    display: none;
  }
  .homepageInner {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
}
