.stayInThe {
  position: absolute;
  top: 133px;
  left: 58px;
  font-size: var(--font-size-35xl);
  line-height: 64px;
  display: inline-block;
  width: 279px;
}
.comprehensiveTimesheetData,
.createProjectsTo,
.trackYourStaff {
  margin: 0;
}
.trackYourStaffContainer {
  position: absolute;
  top: 298px;
  left: 92px;
  line-height: 32px;
  color: var(--color-gray-900);
  display: inline-block;
  width: 644px;
}
.frameChild,
.frameInner,
.frameItem {
  position: absolute;
  top: 311px;
  left: 58px;
  border-radius: var(--br-2xl);
  background-color: var(--color-lightgoldenrodyellow-100);
  width: 18px;
  height: 7px;
}
.frameInner,
.frameItem {
  top: 343px;
}
.frameInner {
  top: 375px;
}
.component1064Child {
  position: absolute;
  height: 100%;
  width: 36.63%;
  top: 0;
  right: 63.37%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.learnMore {
  position: absolute;
  top: 36.49%;
  left: 42.57%;
  line-height: 18px;
  font-weight: 500;
}
.component1064 {
  position: absolute;
  top: 438px;
  left: 58px;
  width: 202px;
  height: 74px;
}
.div,
.vectorIcon {
  position: absolute;
  top: 0;
}
.div {
  left: 54.4px;
  font-weight: 600;
  display: inline-block;
  width: 168.3px;
  height: 46.2px;
}
.vectorIcon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component2Child {
  position: absolute;
  height: 29.17%;
  width: 29.17%;
  top: 35.54%;
  right: 35.29%;
  bottom: 35.29%;
  left: 35.54%;
  border-radius: 2.55px;
  background-color: var(--color-darkslateblue-100);
}
.component2,
.parent {
  position: absolute;
  top: 5.1px;
  left: 0;
  width: 40.8px;
  height: 40.8px;
}
.parent {
  top: 17px;
  left: 56.1px;
  width: 222.7px;
  height: 46.2px;
}
.activityBar,
.frameIcon {
  position: absolute;
  overflow: hidden;
}
.frameIcon {
  top: 32.3px;
  left: 18.7px;
  width: 20.4px;
  height: 20.4px;
  object-fit: contain;
}
.activityBar {
  top: 44px;
  left: 769px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.04);
  border-radius: 18.18px 18.18px 18.11px 18.11px;
  background-color: var(--color-white);
  border: 0.8px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 295px;
  height: 85px;
  font-size: var(--font-size-19xl);
  color: var(--color-darkslateblue-100);
}
.component2Item,
.vectorIcon1 {
  position: absolute;
  display: none;
}
.vectorIcon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component2Item {
  height: 29.17%;
  width: 29.17%;
  top: 35.54%;
  right: 35.29%;
  bottom: 35.29%;
  left: 35.54%;
  border-radius: 2.55px;
  background-color: var(--color-darkslateblue-100);
}
.component21,
.component2Wrapper,
.frameIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.8px;
  height: 40.8px;
}
.component2Wrapper,
.frameIcon1 {
  top: 22.1px;
  left: 56.1px;
}
.frameIcon1 {
  top: 32.3px;
  left: 18.7px;
  width: 20.4px;
  height: 20.4px;
  overflow: hidden;
  object-fit: contain;
}
.b,
.todaysActivity {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 14px;
}
.todaysActivity {
  top: 19px;
  font-size: var(--font-size-3xs);
  line-height: 10px;
  font-weight: 500;
  font-family: var(--font-cabin);
  color: var(--color-slategray);
}
.groupChild,
.groupItem {
  position: absolute;
  top: 0;
  left: 2.3px;
  border-radius: var(--br-2xl);
  background-color: var(--color-whitesmoke-500);
  width: 177.7px;
  height: 6px;
}
.groupItem {
  left: 0;
  background-color: var(--color-goldenrod);
  width: 77.4px;
}
.groupWrapper,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 6px;
}
.groupWrapper {
  top: 4px;
  left: 40px;
}
.activityBar1,
.group {
  position: absolute;
  top: 28px;
  left: 37px;
  width: 220px;
  height: 29px;
}
.activityBar1 {
  top: 523px;
  left: 905px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.07);
  border-radius: 18.18px 18.18px 18.11px 18.11px;
  background-color: var(--color-white);
  border: 0.8px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 295px;
  height: 85px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-lightgray-200);
}
.groupInner,
.vectorIcon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 112.2px;
  height: 108.8px;
  object-fit: contain;
}
.groupInner {
  height: 66.08%;
  width: 64.08%;
  top: 32.17%;
  right: 35.03%;
  bottom: 1.75%;
  left: 0.89%;
  border-radius: 45.83px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorParent {
  position: absolute;
  top: 484px;
  left: 732px;
  width: 112.2px;
  height: 108.8px;
}
.groupChild1,
.vectorIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 147.7px;
  height: 126.4px;
  object-fit: contain;
}
.groupChild1 {
  height: 64.16%;
  width: 54.91%;
  top: 7.91%;
  right: 1.08%;
  bottom: 27.93%;
  left: 44.01%;
  border-radius: 60.41px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorGroup {
  position: absolute;
  top: 220px;
  left: 1127px;
  width: 147.7px;
  height: 126.4px;
}
.startTracking {
  position: absolute;
  top: 17.2px;
  left: 79.4px;
  font-size: var(--font-size-xl-9);
  line-height: 27.1px;
  font-weight: 500;
  display: inline-block;
  width: 112.7px;
}
.child {
  position: absolute;
  top: 0;
  left: 69px;
  max-width: 100%;
  overflow: hidden;
  height: 354.7px;
}
.pexelsItaloMelo2379004RemoIcon,
.pexelsItaloMelo2379004RemoIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-24xl);
  width: 49px;
  height: 49px;
  object-fit: cover;
}
.div2,
.pexelsItaloMelo2379004RemoParent {
  position: absolute;
  top: 19.7px;
  left: 10px;
  width: 49px;
  height: 49px;
}
.div2 {
  top: 85.6px;
  left: 118.2px;
  font-size: var(--font-size-8xl-5);
  font-weight: 600;
  color: var(--color-darkslateblue-100);
  display: inline-block;
  width: 121.9px;
  height: 33.4px;
}
.vectorIcon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component2Inner {
  position: absolute;
  height: 29.05%;
  width: 29.05%;
  top: 35.47%;
  right: 35.47%;
  bottom: 35.47%;
  left: 35.47%;
  border-radius: 1.85px;
  background-color: var(--color-darkslateblue-100);
}
.component22 {
  position: absolute;
  top: 89.3px;
  left: 78.8px;
  width: 29.6px;
  height: 29.6px;
}
.trackedToday {
  top: 140.4px;
  left: 78.8px;
  font-weight: 500;
  opacity: 0.8;
}
.div3,
.item,
.trackedToday {
  position: absolute;
}
.div3 {
  top: 156.4px;
  left: 78.8px;
  font-weight: 500;
  opacity: 0.8;
}
.item {
  top: 187.2px;
  left: 79.4px;
  border-radius: 3.08px;
  background-color: var(--color-whitesmoke-300);
  width: 206.3px;
  height: 103.5px;
}
.addNotes,
.unableToTrack {
  position: absolute;
  line-height: 13.57px;
  font-weight: 500;
}
.unableToTrack {
  top: 197.1px;
  left: 88.7px;
  font-size: var(--font-size-5xs-4);
  display: inline-block;
  width: 190.3px;
  opacity: 0.8;
}
.addNotes {
  top: 6.8px;
  left: 24.6px;
}
.component6 {
  position: absolute;
  top: 306.7px;
  left: 79.4px;
  border-radius: 3.08px;
  background-color: var(--color-darkslateblue-100);
  width: 91.1px;
  height: 27.1px;
  overflow: hidden;
  color: var(--color-white);
  font-family: var(--font-cabin);
}
.component7Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.85px;
  background-color: var(--color-white);
}
.vectorIcon5 {
  position: absolute;
  height: 45.39%;
  width: 45.39%;
  top: 27.31%;
  right: 27.31%;
  bottom: 27.31%;
  left: 27.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component7 {
  position: absolute;
  top: 306.7px;
  left: 20.9px;
  box-shadow: 0 4.3px 7.39px rgba(0, 0, 0, 0.07);
  width: 27.1px;
  height: 27.1px;
}
.component10Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.85px;
  background-color: var(--color-white);
}
.vectorIcon6 {
  position: absolute;
  height: 45.39%;
  width: 43.17%;
  top: 27.31%;
  right: 29.52%;
  bottom: 27.31%;
  left: 27.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component10 {
  position: absolute;
  top: 259.9px;
  left: 20.9px;
  box-shadow: 0 4.3px 7.39px rgba(0, 0, 0, 0.07);
  width: 27.1px;
  height: 27.1px;
}
.div1 {
  position: absolute;
  top: 25.3px;
  left: 0;
  border-radius: 0 0 13.17px 13.17px;
  background-color: var(--color-white);
  width: 295px;
  height: 354.7px;
  overflow: hidden;
}
.groupIcon {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 19.5px;
  height: 9.9px;
}
.zwilttracker {
  position: absolute;
  top: 8.6px;
  left: 31.4px;
  line-height: 8.62px;
}
.groupChild2 {
  position: absolute;
  top: 4.8px;
  left: 0;
  max-height: 100%;
  width: 8.8px;
}
.groupChild3,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 79.9px;
  width: 8.8px;
  height: 8.8px;
}
.rectangleDiv {
  left: 39.5px;
  border-radius: 0.88px;
  border: 0.9px solid var(--color-gray-400);
  box-sizing: border-box;
}
.vectorContainer {
  position: absolute;
  top: 8.8px;
  left: 196.7px;
  width: 88.7px;
  height: 8.8px;
}
.container,
.groupParent {
  position: absolute;
  width: 295px;
}
.groupParent {
  top: 0;
  left: 0;
  border-radius: 13.17px 13.17px 0 0;
  background-color: var(--color-white);
  height: 25.5px;
  overflow: hidden;
  font-family: var(--font-cabin);
}
.container {
  top: 136px;
  left: 836px;
  box-shadow: -6px -1px 30px rgba(0, 0, 0, 0.07);
  height: 380px;
  font-size: var(--font-size-4xs-6);
  color: var(--color-gray-400);
}
.stayInTheLoopParent {
  width: 1300px;
  box-shadow: 0 15px 30px rgba(191, 181, 255, 0.15);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  max-width: 100%;
  height: 652px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-300);
  font-family: var(--font-switzer);
}
